{% extends 'base.html' %}
{% import "_macros.jinja" as items with context %}

{% block title %} Creador {% endblock %}

{% block dir %} Crear un Post {% endblock %}

{% block body %}
{%- call items.section("table") -%}
    {%- call items.contend("-cell-xl-10 white blockcenter flx") -%}
        {%- call items.section("-cell-xl-12") -%}
            <center><h2>Creacion de Posts</h2></center>
            <form method="post" class="-cell-xl-12 custom-form-1">
                <div class="input-field col s12">
                    <i class="material-icons prefix">turned_in</i>
                    <label for="title">Titulo</label>
                    <input name="title" id="title" value="{{ request.form['title'] }}" required>
                </div>
                <div class="-cell-xl-12">
                    <center><label for="body"><h3>Editor de Texto</h3></label></center>
                    <div id="ActionButtons" class="-cell-xl-8 blockcenter">
                        <button title="Negrita"><i class="material-icons">format_bold</i></button>
                        <button title="Italica"><i class="material-icons">format_italic</i></button>
                        <button title="Subrayar"><i class="material-icons">format_strikethrough</i></button>
                        <button title="Tachado"><i class="material-icons">format_underlined</i></button>
                        <button title="Formato Subscript"><i class="material-icons">format_textdirection_l_to_r</i></button>
                        <button title="Formato Descrip"><i class="material-icons">format_textdirection_r_to_l</i></button>
                        <i class="material-icons">format_size</i>
                        <select id="FontSize" title="Tamaño de Letra">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <i class="material-icons">font_download</i>
                        <select id="TypeFont" title="Tipo de Fuente">
                            <option value="Arial">Arial</option>
                            <option value="Helvetica">Helvetica</option>
                            <option value="Console">Console</option>
                            <option value="Open Sans">Open Sans</option>
                            <option value="Ubuntu">Ubuntu</option>
                        </select>
                        <i class="material-icons">title</i>
                        <select id="TitleSet" title="Titulos">
                            <option value="H1">H1</option>
                            <option value="H2">H2</option>
                            <option value="H3">H3</option>
                            <option value="H4">H4</option>
                            <option value="H5">H5</option>
                            <option value="H6">H6</option>
                        </select>
                        <button  title="Copiar"><i class="material-icons">select_all</i></button>
                        <button  title="Copiar"><i class="material-icons">file_copy</i></button>
                        <button  title="Cortar"><i class="material-icons">compare_arrows</i></button>
                        <button  title="Cortar"><i class="material-icons">insert_drive_file</i></button>
                        <button  title="Insertar Archivo Multimedia"><i class="material-icons">perm_media</i></button>
                        <button  title="Alinear a la Derechar"><i class="material-icons">format_align_left</i></button>
                        <button  title="Justificar Parrafos"><i class="material-icons">format_align_justify</i></button>
                        <button  title="Alinear al Centro"><i class="material-icons">format_align_center</i></button>
                        <button  title="Alinear a la Izquierda"><i class="material-icons">format_align_right</i></button>
                        <button  title="Color de Fondo"><i class="material-icons">format_color_fill</i><input type="color"></button>
                        <button  title="Quitar Color"><i class="material-icons">format_color_reset</i></button>
                        <button  title="Color de Texto"><i class="material-icons">format_color_text</i><input type="color"></button>
                        <button  title="Aumentar Sangria"><i class="material-icons">format_indent_increase</i></button>
                        <button  title="Disminuir Sangria"><i class="material-icons">format_indent_decrease</i></button>
                        <button  title="Aumentar Espaceado"><i class="material-icons">format_line_spacing</i></button>
                        <button  title="Listas Ordenadas"><i class="material-icons">format_list_bulleted</i></button>
                        <button  title="Lista Numerica"><i class="material-icons">format_list_numbered</i></button>
                        <button  title="Invertir Lista"><i class="material-icons">format_list_numbered_rtl</i></button>
                        <button  title="Añadir Comillas dobles"><i class="material-icons">format_quote</i></button>
                        <button  title="Lista Desordenada"><i class="material-icons">list</i></button>
                        <button  title="Invertir Lista Desordenada"><i class="material-icons">toc</i></button>
                        <button  title="Insertar una Imagen"><i class="material-icons">insert_photo</i></button>
                        <button  title="Insertar un Archivo"><i class="material-icons">attach_file</i></button>
                        <button  title="Colocar Direcion IP"><i class="material-icons">http</i></button>
                        <button  title="Añadir Vinculo"><i class="material-icons">link</i></button>
                        <button  title="Quitar Vinculo"><i class="material-icons">link_off</i></button>
                        <button  title="Ver HTML"><i class="material-icons">code</i></button>
                        <button  title="Deshacer"><i class="material-icons">undo</i></button>
                        <button  title="Rehacer"><i class="material-icons">redo</i></button>
                        <button  title="Activar o Desactivar Edicion"><i class="material-icons">visibility</i></button>
                    </div>
                    <iframe name="TextEditor" id="body">{{ request.form['body'] }}</iframe>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Crear
                    <i class="material-icons right">send</i>
                </button>
            </form>
        {%- endcall -%}
    {%- endcall -%}
{%- endcall -%}
{% endblock %}