{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block dir %} Inicio {% endblock %}

{% block body %}
<section class="container grey-tail">
    {% for post in posts %}
        <article class="post">
          <header>
            <div>
              <h1>{{ post['title'] }}</h1>
              <div class="about">por {{ post['username'] }} publicado {{ post['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if g.user['id'] == post['author_id'] %}
              <a class="action" href="{{ url_for('public.update', id=post['id']) }}">Editar</a>
            {% endif %}
          </header>
          <p class="body">{{ post['body'] }}</p>
        </article>
        {% if not loop.last %}
          <hr> Nada
        {% endif %}
    {% endfor %}
</section>
{% endblock %}