{% extends 'base.html' %}
{% import "_macros.jinja" as items with context %}

{% block title %} Home {% endblock %}

{% block dir %} Inicio {% endblock %}

{% block body %}
{%- call items.section("row flex") -%}
  {%- call items.contend("i-lg-10 white blockcenter") -%}
    {%- call items.container("row", "i-lg-12 grey-100") -%}
      {% for post in posts %}
        {%- call items.article("i-lg-6 white center") -%}
          {%- call items.article("i-lg-12 grey-100") -%}
            {%- call items.contend("i-lg-12") -%}
              <h1 class="brand-logo">{{ post['title'] }}</h1>
              {%- call items.contend("about") -%}publicado por {{ post['username'] }} el {{ post['created'].strftime('%Y-%m-%d') }}{%- endcall -%}
            {%- endcall -%}
            {% if g.user['id'] == post['author_id'] %}
              <a class="btns" href="{{ url_for('public.update', id=post['id']) }}">Editar</a>
            {% endif %}
          {%- endcall -%}
          {%- call items.contend("i-lg-12") -%}
            <p class="body">{{ post['body'] }}</p>
          {%- endcall -%}
        {%- endcall -%}
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    {%- endcall -%}
  {%- endcall -%}
{%- endcall -%}
{% endblock %}