{% extends 'base.html' %}
{% import "_macros.jinja" as items with context %}

{% block title %} Home {% endblock %}

{% block dir %} Perfil de {{ g.user['username'] }} {% endblock %}

{% block subtitle %} Resumen de la Actividad {% endblock %}

{% block body %}
    {%- call items.container("table","-cell-xl-10 material-white blockcenter flx") -%}
        {%- call items.contend("-cell-xl-12") -%}
            {{ items.titles("h2","padding-3",'Hola Bienvenido <a href="#" data-target="#Profile" data-toggle="modal" title="Actualizar Perfil">{0}</a>'.format(g.user['username'])) }}
        {%- endcall -%}

        {% call items.modal("Profile","-cell-xl-5 modal material-teal","-cell-xl-12 material-white","Perfil de {}".format(g.user['username'])) %}
            {% call items.contend("-cell-xl-5 ProfileCard") %}
                <figure>
                    <form action="{{ url_for('public.update_avatar') }}" id="UpdateAvatar">
                        <input type="file" name="avatar" id="Avatar" hidden>
                    </form>
                    <div id="">
                    {% call items.contend("tooltip", "PreviewAvatar") %}
                        {% for item in image %}
                            {{ items.img(atributtes=[ (url_for('static', filename='avatar/{}'.format(item.image)) ,"Photo", "avatar {{ g.user.username }}", "{{ g.user.username }}") ]) }}
                        {% endfor %}
                    {% endcall %}
                    </div>
                    <figcaption>
                        <form action="{{ url_for('public.update_username') }}" id="UpdateAvatar">
                            <input type="text" name="username" id="userid" hidden>
                        </form>
                        <span>@{{ g.user.username }} <i id="EditUserName" class="material-icons">edit</i></strong></span>
                    </figcaption>
                </figure>
                {% call items.contend("-cell-xl-12 tooltip") %}
                    {{ items.titles("h4", "padding-3", "AlexLeon") }}
                    <span><i class="material-icons txt-flat-midnightblue">email</i>&nbsp;{{ g.user.email }}<strong class="tooltiptext right-tooltip">Correo Electronico</strong></span>
                {% endcall %}
                <dl class="-cell-xl-12">
                    <dt><strong>Acerca de Mi <i id="EditAbout" class="material-icons">edit</i></strong></dt>
                    <dd id="EditAbout tooltip">
                        <form id="AboutForm" action="{{ url_for('public.update_about') }}" style="display: none;">
                            <textarea id="AboutText" class="material-input" type="text" placeholder="Añade la nueva Descripcion" ></textarea>
                            <button id="ChangesAbout" class="button txt-material-white material-teal" type="submit">Guarda<i class="material-icons">save</i></button>
                        </form>
                        <p id="Description">{{ g.user.bibliography }}.</p>
                    </dd>
                    <dt><strong>Redes Sociales <i id="EditSocialFeed" class="material-icons">edit</i></strong></dt>
                    <dd id="EditFeed">
                        <form id="SocialFeedForm" action="{{ url_for('public.social_feed') }}" style="display: none;">
                            <input name="socialname" class="material-input" type="text" placeholder="Nombre" >
                            <input name="socialurl" class="material-input" type="text" placeholder="Añade la url de tu sitio" ><button class="button txt-material-white material-teal" type="submit"><i class="material-icons">add_box</i></button>
                        </form>
                        {% call items.navbar("-cell-xl-12", "navigation") %}
                            {{ items.itemlisticons(values=[ ("#","MyFacebook", "txt-flat-midnightblue fab fa", "&#xf09a;", ""),
                            ("#","MyTwitter", "txt-flat-midnightblue fab fa", "&#xf099;", ""),
                            ("#","MyTwitch", "txt-flat-midnightblue fab fa", "&#xf1e8;", ""),
                            ("#","MyYoutube", "txt-flat-midnightblue fab fa", "&#xf167;", ""),
                             ]) }}
                        {% endcall %}
                    </dd>
                </dl>
            {% endcall %}
        {% endcall %}

        {%- call items.contend("-cell-xl-12 lg-height") -%}
            {% call items.contend("-cell-xl-12 tabs__links", "ButtonsLabel") %}
                <a href="#section1">Section 1</a>
                <a href="#section1">Section 2</a>
                <a href="#section1">Section 3</a>
                <a href="#section1">Section 4</a>
            {% endcall %}

            {% call items.contend("-cell-xl-12 tabs__contents") %}
                {%- call items.contend("-cell-xl-12 tabs__contents__items","charbart") -%}
                    {{ items.titles("h4","padding-3","Resumen del Perfil") }}
                    <script>
                        var graphs = {{ plot | safe }};
                        Plotly.plot('charbart',graphs,{});
                    </script>
                {%- endcall -%}

                {%- call items.contend("-cell-xl-12 tabs__contents__items") -%}
                    {{ items.titles("h3","padding-3","Todos tus Post") }}

                    {%- call items.contend("-cell-xl-12") -%}
                        {% call items.table("custom-table-material",values=[ ('<th>id</th>','<th>titulo</th>','<th>creado</th>', '<th>estado</th>', '<th>acciones</th>') ]) %}
                            {% for item in myposts %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.created }}</td>
                                    <td>"activo"</td>
                                    <td class="actionsbtn">
                                        <a class="button txt-material-white material-yellow" href="{{ url_for('public.update', id=item.id) }}">Modificar</a>
                                        <a class="button txt-material-white material-teal" href="#">Publicar</a>
                                        <a class="button txt-material-white material-red" href="{{ url_for('public.delete', id=item.id) }}">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endcall %}
                    {%- endcall -%}
                {%- endcall -%}

                {%- call items.contend("-cell-xl-12 tabs__contents__items") -%}
                    {{ items.titles("h3","padding-3","Comentarios Recibidos") }}

                    {% call items.table("custom-table-flat",values=[ ('<th>#</th>','<th>usuario</th>','<th>comentario</th>', '<th>post</th>', '<th>acciones</th>') ]) %}
                        {% for item in comments %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.username }}</td>
                                <td>{{ item.comment }}</td>
                                <td>{{ item.title }}</td>
                                <td class="actionsbtn">
                                    <a class="button txt-material-white material-yellow" href="{{ url_for('public.update', id=item.id) }}">Modificar</a>
                                    <a class="button txt-material-white material-teal" href="#">Publicar</a>
                                    <a class="button txt-material-white material-red" href="{{ url_for('public.delete', id=item.id) }}">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endcall %}
                {% endcall %}
            {% endcall %}
        {%- endcall -%}
    {%- endcall -%}
{% endblock %}