{% extends 'base.html' %}

{% block title %} Iniciar Sesion {% endblock %}

{% block dir %} Inicio de Sesion {% endblock %}

{% block body %}
<section class="row">
    <div class="i-lg-6 center">
        <form method="post">
            <div class="material-input i-lg-12">
                <i class="material-icons prefix">account_circle</i>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="material-input i-lg-12">
                <i class="material-icons prefix">mode_edit</i>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button class="btns" type="submit">Enviar
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</section>
{% endblock %}