<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- MetaLinks -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/icons/favicon/ms/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        {# macros links #}
        {% import "_macros.jinja" as links with context %}
        <!-- colors and libraries design -->
        {{ links.styles(url=[ (url_for('static', filename='css/gridsystem.css')) ]) }}
        <!-- icons fonts -->
        {{ links.styles(url=[ ('https://use.fontawesome.com/releases/v5.7.1/css/solid.css'), ('https://use.fontawesome.com/releases/v5.7.1/css/regular.css'),
        ('https://use.fontawesome.com/releases/v5.7.1/css/brands.css'), ('https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css') ]) }}
        {#{{ links.styles(url=[ (url_for('static',filename='css/icons/fontello.css')), (url_for('static',filename='css/icons/fontello-codes.css')),
        (url_for('static',filename='css/icons/fontello-ie7-codes.css')), (url_for('static',filename='css/icons/fontello-ie7.css')) ]) }}#}
        <!-- GoogleFonts -->
        {{ links.styles(url=[ ("https://fonts.googleapis.com/css?family=Roboto+Slab|Staatliches"), ("https://fonts.googleapis.com/icon?family=Material+Icons") ]) }}
        <!-- Load Apple favicons and mobile -->
        {{ links.rel(value=[("apple-touch-icon","","","57x57",url_for('static', filename='favicon/apple/apple-icon-57x57.png')),
        ("apple-touch-icon","","","60x60",url_for('static', filename='favicon/apple/apple-icon-60x60.png')),
        ("apple-touch-icon","","","72x72",url_for('static', filename='favicon/apple/apple-icon-72x72.png')),
        ("apple-touch-icon","","","76x76",url_for('static', filename='favicon/apple/apple-icon-76x76.png')),
        ("apple-touch-icon","","","114x114",url_for('static', filename='favicon/apple/apple-icon-114x114.png')),
        ("apple-touch-icon","","","120x120",url_for('static', filename='favicon/apple/apple-icon-120x120.png')),
        ("apple-touch-icon","","","144x144",url_for('static', filename='favicon/apple/apple-icon-144x144.png')),
        ("apple-touch-icon","","","152x152",url_for('static', filename='favicon/apple/apple-icon-152x152.png')),
        ("apple-touch-icon","","","180x180",url_for('static', filename='favicon/apple/apple-icon-180x180.png'))
        ]) }}
        <!-- Load Web and Android favicons and mobile -->
        {{ links.rel(value=[("shortcut icon","image/x-icon","","",url_for('static', filename='favicon/favicon/favicon.ico')),
        ("icon","image/x-icon","","",url_for('static', filename='favicon/favicon/favicon.ico')),
        ("icon","image/png","","16x16",url_for('static', filename='favicon/favicon/favicon-16x16.png')),
        ("icon","image/png","","32x32",url_for('static', filename='favicon/favicon/favicon-32x32.png')),
        ("icon","image/png","","96x96",url_for('static', filename='favicon/favicon/favicon-96x96.png')),
        ("icon","image/png","","192x192",url_for('static', filename='favicon/android/android-icon-192x192.png'))
        ]) }}
        <!-- Load Manifest mobile -->
        <!--<link rel="manifest" href="/manifest.json">-->
        <!-- Source Load Scripts -->
        {{ links.script(url=[ (url_for('static',filename='js/datamanager.js')), ("https://cdn.plot.ly/plotly-latest.min.js"),
        ("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js") ]) }}
        <title>{% block title %}{% endblock %} - LinusGems</title>
    </head>
    <body id="ContentBody" class="material-white-100 lds-hourglass delete">
        {%- call links.section("container material-grey-100") %}
            {%- call links.header("table") -%}
                {%- call links.contend("jumbotrom-200px material-grey-100") -%}
                    <h1>LinusGems - {% block dir %}{% endblock %}</h1>
                    <p>{% block subtitle %}{% endblock %}</p>
                {%- endcall -%}

                {%- call links.navbar("-cell-xl-12 mx-height material-teal", "navigation") -%}
                    {% if g.user %}
                        {{ links.itemlisticons(values=[ (url_for('public.index'), "Inicio", "material-icons", "home",""), (url_for('public.index'), "Noticias", "material-icons", "fiber_new",""),
                        (url_for('public.index'), "Notas Interesantes", "material-icons", "new_releases","") ]) }}
                        {{ links.list("userstatus material-teal",values=[ ('<li><a href="#" title="Hola {0}"><i class="material-icons">account_circle</i></a></li>'.format(g.user["username"]),
                        '<ul>
                            <li>
                                <a href="{0}" title="Editar Perfil"><i class="material-icons">face</i></a>
                            </li>
                            <li>
                                <a href="{1}" title="Crear un Post"><i class="material-icons">create</i></a>
                            </li>
                            <li>
                                <a href="{2}" title="Cerrar la Sesion"><i class="material-icons">power_settings_new</i></a>
                            </li>
                        </ul>'.format(url_for('public.profile'),url_for('public.create'),url_for('auth.logout')) ) ]) }}
                    {% else %}
                        {{ links.itemlisticons(values=[ (url_for('public.index'), "Inicio", "material-icons", "home",""), (url_for('public.index'), "Noticias", "material-icons", "fiber_new",""),
                        (url_for('public.index'), "Notas Interesantes", "material-icons", "new_releases","") ]) }}
                        {{ links.list("userstatus material-teal",values=[ ('<li><a href="#" title="Session de Usuario"><i class="material-icons">settings</i></a></li>',
                        '<ul>
                            <li>
                                <a href="#" data-target="#SessionUser" data-toggle="modal" title="iniciar Sesion"><i class="material-icons">account_circle</i></a>
                            </li>
                        </ul>') ]) }}
                    {% endif %}
                {%- endcall -%}
            {%- endcall -%}

            {% for messages in get_flashed_messages() %}
                <div class="teal-text"> {{ messages }} </div>
            {% endfor %}

            {%- block body %}{%- endblock %}

            {%- call items.contend("jumbotrom-400px flat-wetasphalt") -%}
                {%- call items.contend("i-lg-5 center margin-bottom") -%}
                     <h5 class="customtitletwo">Unete y no te pierdas de las novedades Semanalmente</h5>
                    {%- call items.navbar("i-lg-6", "navigation") -%}
                        {{ links.itemlisticons(values=[ ("#", "Siguenos en Facebook", "fab fa", "&#xf09a;",""),
                        ("#", "Siguenos en Twitter", "fab fa", "&#xf099;",""), ("#", "Suscribete al Canal de Youtube", "fab fa", "&#xf167;","") ]) }}
                    {%- endcall -%}
                    <h5 class="customtitletwo">Contenido y Secciones Recomendadas</h5>
                    {%- call items.navbar("i-lg-6", "navigation") -%}
                        {{ links.itemlisticons(values=[ (url_for('public.index'), "Segmento de Noticias", "material-icons", "import_contacts","Noticias"),
                        (url_for('public.index'), "Segmento de Notas", "material-icons", "library_books","Notas Destacadas"), (url_for('public.index'), "Segmento de Tutoriales", "material-icons", "receipt","Tutoriales"), ]) }}
                    {%- endcall -%}
                {%- endcall -%}
                {%- call items.contend("jumbotrom-50px material-concrete-800 statictcopy customtitleone") -%}
                    <h1>© LinusGems - 2019</h1>
                {%- endcall -%}
            {%- endcall -%}
        {%- endcall %}
    </body>
</html>